<footer id="rodaPe">
    <p>Todos os direitos reservados para Caio Rodrigo &copy;</p>
    <p>Dados retirados de: </p>
    <ul>
        <li><a href="https://planebrazil.com/" target="_blank">Plane Brazil</a></li>
        <li><a href="https://www.airbus.com/en/products-services/helicopters/civil-helicopters">AIRBUS</a></li>
        <li><a href="https://www.agusta.com/">AGUSTA</a></li>
    </ul>
</footer>