<section class="modal-overlay" id="ovarlay">
    <div class="modal" id="modal">
        <div class="modal-header">
            <h3>Atualizar Helicoptero</h3>
            <a href="/" id="close-modal-put"><i class="bi bi-x"></i></a>
        </div>
        <div class="modal-body">
            <form class="form-modal" action="/update/<%= helicopteroPut.id %>" method="post" >
        
                <label for="modelo">Modelo:</label>
                <input type="text" id="modelo" name="modelo" value="<%= helicopteroPut.modelo %>" >
                <label for="imagem">Imagem:</label>
                <input type="text" id="imagem" name="imagem" value="<%= helicopteroPut.imagem %>" >
        
                <label for="descricao">Descrição:</label>
                <textarea id="descricao" name="descricao"  rows="8" cols="80" id="descricao" value="<%= helicopteroPut.descricao %>"></textarea>
        
                    <button id="btnCadastrar" type="submit">Atualizar</button>
                </form>
        </div>
    </div>
</section>