<nav id="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#catalog">Aeronaves</a></li>
        <li><a href="../register">Cadastro</a></li>
    </ul>
</nav>

<header>
    <img src="../img/asasLogo.png" alt="">
    
</header>