section#catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

section#catalog div.helicoptero {
    box-shadow: 5px 5px 5px 5px #00000020;
    margin: 3rem 0 5rem 0;
    margin-top: 0.5rem;
    padding: 1rem;
    width: 20rem;
    display: flex;
    /* flex-wrap: no-wrap; */
    flex-direction: column;
    /* align-items: center; */
  }
  section#catalog div.helicoptero .botao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  div.helicoptero h3{
    font-weight: bold;
      font-size: 1.5rem;
      padding: 0 0 1rem;
      text-align: center;
  }
  
  section#catalog div.helicoptero img {
    width: 100%;
    height: 73%;
  }
  
  /* section#catalog div.helicoptero p.intro {
    padding: 1rem 0 0.9rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
  
  section#catalog div.helicoptero p.preco {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
  } */

  /* section#catalog div.helicoptero a#apagar {
    align-items: center;
    border: solid 2px rgb(252, 5, 5);
    border-radius: 1rem;
    color: rgb(252, 5, 5);
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1.75rem;
    padding: 1rem;
    text-decoration: none;
    transition: 0.5s;
    width: 100%;
    height: 0.4rem;
    font-weight: bold;
  }
  
  section#catalog div.helicoptero a#apagar:hover {
    background-color: rgb(229 11 11 / 71%);
    border: solid 3px rgb(217 57 8);
    border-radius: 2rem;
    color: #fff;
  }
  
  section#catalog div.helicoptero a#editar {
    align-items: center;
    border: solid 2px rgb(15, 109, 233);
    border-radius: 1rem;
    color: rgb(36, 140, 231);
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1.75rem;
    padding: 1rem;
    text-decoration: none;
    transition: 0.5s;
    width: 100%;
    height: 0.4rem;
    font-weight: bold;
  }
  
  section#catalog div.helicoptero a#editar:hover {
      background-color: rgb(51 117 210 / 42%);
    border: solid 3px rgb(4 223 183);
    border-radius: 2rem;
    color: #fff;
  } */